@import "variables";
@import "mixins";





html {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body {

    background-color: grey;

}

.choices {
    position: relative;
    top: 200px;
    left: 48px;
    font-size: 16px;
    color: white;
}

.button {
    font-size: 16px;

    width: 75px;
    color: red;
    position: relative;
    top: 200px;
    left: 60px;
}

.header {
   
    background: url(../pics/nytimes-logo.png);
    font-family: 'Open Sans Light';
    font-size: 16px;
    background-color: grey;
    height: 300px;
    
   
    position: relative;
    left: 240px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
}

.site-content {

    
    font-size: 16px;
    color: chartreuse;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}


.footer {
   

    font-family: 'Open Sans Light';
    font-size: 16px;
    background-color: black;
    height: 300px;
    position: relative;
    top: 370px;
    display: flex;
    justify-content: space-around;
    color: #c2c2c2;
}



// @media screen and (min-width: 600px) {

//     .choices {
//         position: relative;
//         left: 175px;
//         top: 55px;
//        }

//     .button {
//     position: relative;
//     left: 175px;
//     top: 60px;
// }   



// @media screen and ("desktop") {


// .footer {
//     display: flex;
//     flex-direction: column;   
//     position: relative; 
//     left: 25px;
// }

// .header{
//     position: relative;
//     left: 0px;
// }
// .button{
//     position: relative;
//     left: 248px;

// }
// .choices{
//     position: relative;
//     left: 248px;

//    }
// }





// };

li {
    flex: 0 1 100%;

    @include tablet {
        flex: 0 1 50%;
    }
}

li {
    flex: 0 1 100%;

    @include desktop {
        flex: 0 1 25%;
    }
}