.logo {
    height: 220px;
    width: 220px;
    position: relative;
    right: 190px;
    top: 220px;
    position: relative;
    transition: 1s;
    transform: translateX(85%);

    @include tablet {
        height: 220px;
        width: 220px;
        position: relative;
        left: -120px;
        top: 220px;
        position: relative;
        transition: 1s;
        transform: translateX(0%);
    }

    @include desktop {
        position: relative;
        left: -560px;
        top: 225px;
    }


}

.drop-down {
    position: relative;
    left: -5px;
}

.chooseadrop {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 220px;
    left: 5px;

    @include tablet {
        position: relative;
        left: 90px;
        top: 50px;
    }

    @include desktop {
        position: relative;
        left: -290px;
    }
}

.loaded {

    .logo {
        height: 150px;
        width: 150px;
        position: relative;
        right: -8px;
        top: -10px;
        position: relative;
        transition: 1s;
        transform: translateY(0-1%);
    }

    .chooseadrop {
        position: relative;
        top: -10px;
        position: relative;
        transition: 1s;
        transform: translateX(10%);

    }

    @include tablet {

        height: 150px;

        .logo {
            height: 70px;
            width: 70px;
            position: relative;
            left: -330px;
            top: 35px;
            position: relative;
            transition: 1s;
            transform: translateX(-50%);
        }

        .chooseadrop {
            position: relative;
            top: -50px;
            left: -160px;
        }
    }

    @include desktop {

        .logo {
            position: relative;
            left: -630px;
            top: 35px;
            position: relative;
            transition: 1s;
            transform: translateX(-50%);
        }

        .chooseadrop {
            position: relative;
            top: -50px;
            left: -480px;
        }
    }

}